
.card-footer-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    background: rgb(248, 248, 248);
    padding: 50px;
}

.card-footer-price {
    font-weight: bold;
    margin-left: 5px;
    margin-bottom: 25px;
}

.card-footer-subtotal {
    margin-bottom: 25px;
}

.card-footer-container button {
    width: 20%;
    margin-bottom: 10px;
    font-weight: normal;
}

