.description-details-text {
    font-family: 'Geneva', sans-serif;
    font-size: 14px;
    font-weight: lighter;
    display: flex;
    align-items: center;
    margin-left: 15px;
    margin-bottom: 10px;
}