.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    background: rgb(248, 248, 248);
}

.footer img {
    height: 18px;
    padding: 15px;
}

.footer img:hover {
    cursor: pointer;
}

.footer span {
    font-family: Geneva, sans-serif;
}
